%h1 Editing booking_email_template

= form_for @booking_email_template do |f|
  - if @booking_email_template.errors.any?
    #error_explanation
      %ul
        - @booking_email_template.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
