- model_class = Instructor
.page-header
  %h1=t '.title', default: "Instructors"

%table.table.table-striped
  %thead
    %tr
      %th= sortable "name"
      %th= sortable "email"
      %th Telephone number
      %th Post code
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @instructors.each do |instructor|
      %tr
        %td= instructor.name
        %td= instructor.email
        %td= instructor.telephone_number
        %td= instructor.post_code
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_instructor_path(instructor), :class => 'btn btn-mini' 
          = link_to t('.destroy', :default => t("helpers.links.destroy")), instructor_path(instructor), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_instructor_path, :class => 'btn btn-primary'
