-if params[:school_id] 
  - form_path = [@school,@booking] 
  - create_or_edit = 'Create booking'
  - @school = School.find(params[:school_id])
-else
  - form_path = @booking
  - create_or_edit = 'Edit booking'

%h2 School
= @school.school_name

%h2 Teacher name
= @school.teacher_name

%h2 Address
= @school.city
= @school.address_line_1
= @school.address_line_2
= @school.postcode

- form_path = params[:school_id] ? [@school,@booking] : @booking
= form_for form_path, :html => { :multipart => true } do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"
      %ul
        - @booking.errors.full_messages.each do |msg|
          %li= msg
  .field
    .input-append.date
      = f.label :start_time, "Start date"
      %input.span12(value='#{@booking.start_time.try(:strftime, "%d/%m/%Y")}' id="booking_start_time" name="booking[start_time]" type="text")
      %span.add-on
        %i.icon-th

    :javascript
      $('#booking_start_time').datepicker({
          format: "dd/mm/yyyy",
          weekStart: 1,
          todayBtn: "linked",
          daysOfWeekDisabled: "0,6"
      });

  .field
    = f.label :num_children, "Number of children"
    = f.number_field :num_children

  .field
    = f.label :required_bikes, "Required number of bikes"
    = f.number_field :required_bikes
  .field
    = f.label :required_helmets, "Required number of helmets"
    = f.number_field :required_helmets
  .field
    = f.label :booking_document, "Booking document"
    = f.file_field :booking_document
  .actions
    = f.submit create_or_edit
