- model_class = Booking
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th School 
      %th Start time
      %th Num children
      %th Required bikes
      %th Required helmets
      %th
      %th
      %th
  %tbody
  - @bookings.each do |booking|
    %tr
      %td= booking.school_id
      %td= booking.start_time
      %td= booking.num_children
      %td= booking.required_bikes
      %td= booking.required_helmets 
      %td= link_to 'Show', booking
      %td= link_to 'Edit', edit_booking_path(booking) 
      %td= link_to 'Destroy', booking, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
