%p
  %b School :
  = @booking.school.school_name

%p
  %b Teacher:
  = @booking.school.teacher_name
%p
  %b Start time:
  = @booking.start_time
%p
  %b Num children:
  = @booking.num_children
%p
  %b Required bikes:
  = @booking.required_bikes
%p
  %b Required helmets:
  = @booking.required_helmets

= link_to 'Edit', edit_school_booking_path(@school, @booking)
