- @school = School.find_by(id: @booking.school_id)
%p
  %b School :
  = @booking.school.school_name

%p
  %b Teacher:
  = @booking.school.teacher_name
%p
  %b Start time:
  = @booking.start_time
%p
  %b Num children:
  = @booking.num_children
%p
  %b Required bikes:
  = @booking.required_bikes
%p
  %b Required helmets:
  = @booking.required_helmets
%p
  %b Instructor1
  = Instructor.find(@booking.instructor1_id).name
%p
  %b Instructor2
  = Instructor.find(@booking.instructor2_id).name
= link_to 'Edit', edit_booking_path(@booking)
