%p
  %b School :
  = @booking.school.school_name

%p
  %b Teacher:
  = @booking.school.teacher_name
%p
  %b Start time:
  = @booking.start_time
%p
  %b Num children:
  = @booking.num_children
%p
  %b Required bikes:
  = @booking.required_bikes
%p
  %b Required helmets:
  = @booking.required_helmets
%p
  %b Other Instructor
  = @other_instructor.name 
%p
= form_for :booking_instructors do |f|
  .field
    = f.label :available, "Are you available?"
    = f.radio_button :available, :true
    = label :available, "Yes", :class => "radio inline"
    <br />
    = f.radio_button :available, :false, checked: true
    = label :available, "No", :class => "radio inline"
    .actions
    = f.submit "Confirm"

