%p
  Hi 
  = @instructor.name
  ,
%p
  Dates: 
  = @booking.start_time.to_date
  ,
%p
  School: 
  = @school.school_name
  ,
  = @school.postcode
%p
  Please confirm you <a href=" 
  = @confirm_url
  ">avaliability</a>
