= form_for @email_template do |f|
  - if @email_template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@email_template.errors.count, "error")} prohibited this email_template from being saved:"
      %ul
        - @email_template.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :body
    = f.text_area :body, class: "field span6", rows: "15"
  .actions
    = f.submit 'Save'
