%h1 Editing email_template

= render 'form'

%h2 Help
Any text inside &lt; &gt; will be replaced in the email.  Valid replacements are:
<br/>
&lt;booking_link:any link text&gt;
- EmailTemplateDecorator::MAPPINGS.each do |replace_text|
  = "<#{replace_text}> "
<br/><br/>
= link_to 'Show', @email_template
\|
= link_to 'Back', email_templates_path
