<h1>Listing school_teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Address line 1</th>
      <th>Address line 2</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Telephone number</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_teachers.each do |school_teacher| %>
      <tr>
        <td><%= school_teacher.name %></td>
        <td><%= school_teacher.school %></td>
        <td><%= school_teacher.address_line_1 %></td>
        <td><%= school_teacher.address_line_2 %></td>
        <td><%= school_teacher.city %></td>
        <td><%= school_teacher.postcode %></td>
        <td><%= school_teacher.telephone_number %></td>
        <td><%= school_teacher.email %></td>
        <td><%= link_to 'Show', school_teacher %></td>
        <td><%= link_to 'Edit', edit_school_teacher_path(school_teacher) %></td>
        <td><%= link_to 'Destroy', school_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School teacher', new_school_teacher_path %>
