<p>
  <strong>Name:</strong>
  <%= @school_teacher.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @school_teacher.school %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @school_teacher.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @school_teacher.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @school_teacher.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @school_teacher.postcode %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @school_teacher.telephone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school_teacher.email %>
</p>

<%= link_to 'Edit', edit_school_teacher_path(@school_teacher) %> |
<%= link_to 'Back', school_teachers_path %>
